name: Auto Render Video
on:
  repository_dispatch:
    types: [trigger-render]
  workflow_dispatch:
    inputs:
      video_links:
        description: 'Links'
        required: true

jobs:
  render:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      
      - name: Install Libraries
        run: |
          sudo apt-get update && sudo apt-get install -y ffmpeg
          pip install moviepy==1.0.3 decorator==4.4.2 gdown requests google-api-python-client google-auth-oauthlib

      - name: Run Script
        env:
          GDRIVE_CLIENT_ID: ${{ secrets.GDRIVE_CLIENT_ID }}
          GDRIVE_CLIENT_SECRET: ${{ secrets.GDRIVE_CLIENT_SECRET }}
          GDRIVE_REFRESH_TOKEN: ${{ secrets.GDRIVE_REFRESH_TOKEN }}
          INPUT_LINKS: ${{ github.event.client_payload.links || inputs.video_links }}
        run: python render.py
